<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    <!-- kill程序所有进程与服务 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.hp.application.ApplicationController"
        android:allowBackup="true"
        android:icon="@drawable/logo_homeparty"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="lWx23tXDd2P1g7fBoq029dam" />

        <activity
            android:name="com.hp.activity.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoPreviewActivity"
            android:label="图片预览" >
        </activity>
        <activity
            android:name="com.photoselector.ui.PhotoSelectorActivity"
            android:label="图片选择" >
        </activity>

        <!-- 采用mob获取短信验证码 -->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <!-- 引导页 -->
        <activity
            android:name="com.hp.activity.GuideActivity"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 主页 -->
        <activity
            android:name="com.hp.activity.MainActivity_01"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <!-- 发布动态或发起活动页 -->
        <activity
            android:name="com.hp.activity.AddActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 发起活动页 -->
        <activity
            android:name="com.hp.activity.PublishHDActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- 发起动态页 -->
        <activity
            android:name="com.hp.activity.PublishDTActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustResize|stateHidden" />

        <!-- 搜索页 -->
        <activity
            android:name="com.hp.activity.SearchActivity"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 标签详情页 -->
        <activity
            android:name="com.hp.activity.LableDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 城市列表页 -->
        <activity
            android:name="com.hp.activity.CityListActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 用户登陆页 -->
        <activity
            android:name="com.hp.activity.UserLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 裁剪照片页 -->
        <activity
            android:name="com.hp.activity.CutPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 浏览图片页 -->
        <activity
            android:name="com.hp.activity.ImageGridActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!--  -->
        <activity
            android:name="com.hp.activity.TestPicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 用户资料界面 -->
        <activity
            android:name="com.hp.activity.UserDataActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 用户注册界面 -->
        <activity
            android:name="com.hp.activity.UserRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" />
        <!-- 重设密码界面 -->
        <activity
            android:name="com.hp.activity.UserAlertPswActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 设置密码界面 -->
        <activity
            android:name="com.hp.activity.UserSetPswActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 设置界面 -->
        <activity
            android:name="com.hp.activity.UserSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 用户反馈界面 -->
        <activity
            android:name="com.hp.activity.UReBackActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 用户订单界面 -->
        <activity
            android:name="com.hp.activity.userOrder.UserOrderFramentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 用户订单界面 -->
        <activity
            android:name="com.hp.activity.userActivity.UserHuoDongFragmentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 用户订单二维码生成界面 -->
        <activity
            android:name="com.hp.activity.userOrder.QRGenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 消息界面 -->
        <activity
            android:name="com.hp.activity.UserMessageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 收藏界面 -->
        <activity
            android:name="com.hp.activity.UserCollectActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 图片详情界面 -->
        <activity
            android:name="com.hp.fragment.ImagePagerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 我的动态界面 -->
        <activity
            android:name="com.hp.activity.UserDynamicActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 个人资料界面 -->
        <activity
            android:name="com.hp.activity.UserPerSignActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 选择出生年月界面 -->
        <activity
            android:name="com.hp.activity.DatePickerActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 帐号绑定界面 -->
        <activity
            android:name="com.hp.activity.UserAcountBindingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 各类链接详情网站界面 -->
        <activity
            android:name="com.hp.activity.WebActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商品详情界面 -->
        <activity
            android:name="com.hp.activity.homeGoodDetail.HomeGoodDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商品详情界面 -->
        <activity
            android:name="com.hp.activity.GoodDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商品详情界面 -->
        <activity
            android:name="com.hp.activity.homeGoodDetail.TWDetailFramentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 活动详情界面 -->
        <activity
            android:name="com.hp.activity.SquareHDDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 动态详情界面 -->
        <activity
            android:name="com.hp.activity.SquareDTDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 动态用户信息界面 -->
        <activity
            android:name="com.hp.activity.DTUserInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 活动详情加入聊天界面 -->
        <activity
            android:name="com.hp.activity.ChatActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <!-- 会话界面 -->
        <activity
            android:name="com.hp.activity.MessageConversionActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan|stateHidden" />

        <!-- 商品详情界面之评论详情页 -->
        <activity
            android:name="com.hp.activity.UCommentListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 消息值赞我或评论我的 -->
        <activity
            android:name="com.hp.activity.MessageZanDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商品预定界面 -->
        <activity
            android:name="com.hp.alipay.pay.BookFragment"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 标签分类界面 -->
        <activity
            android:name="com.hp.activity.CateGoryActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 百度地图界面 -->
        <activity
            android:name="com.hp.activity.BaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 支付界面 -->
        <activity
            android:name="com.hp.alipay.pay.PayActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <!-- alipay sdk begin -->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" >
        </activity>

        <!-- 接下来的是商家版所拥界面 -->
        <!-- 兔管家主页 -->
        <activity
            android:name="com.tgj.activity.TGJMainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 兔管家商品详情-->
        <activity
            android:name="com.tgj.activity.OrderinfoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 二维码扫描 -->
        <activity
            android:name="com.tgj.activity.CaptureActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 二维码扫描测试 -->
        <activity
            android:name="com.tgj.activity.BarCodeTestActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 商家版用户评价管理 -->
        <activity
            android:name="com.tgj.activity.TGJUserCommentActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商家收入查看界面 -->
        <activity
            android:name="com.tgj.activity.TGJUserIncomeActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商家收入体现界面 -->
        <activity
            android:name="com.tgj.activity.TGJUserIncomeWithDrawActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <!-- 商家版个人管理界面 -->
        <activity
            android:name="com.tgj.activity.TGJUserSettingActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.easemob.easeui.ui.EaseBaiduMapActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />
        <activity
            android:name="com.easemob.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" />

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="homeparty#homeparty" />
        <!-- 声明sdk所需的service -->
        <service
            android:name="com.easemob.chat.EMChatService"
            android:exported="true" />
        <!-- 声明sdk所需的receiver -->
        <receiver android:name="com.easemob.chat.EMMonitorReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <!-- 定位服务 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>
        <!-- 发送短信 -->
        <activity
            android:name="cn.smssdk.SMSSDKUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
    </application>

</manifest>